In [2]:
import stdio

x = [1, 2, 3, 4]

for i in range(len(x)):
    stdio.writeln(str(i) + ': ' + str(x[i]))

0: 1
1: 2
2: 3
3: 4

In [3]:
for i in x:
    stdio.writeln(i)

1
2
3
4

In [7]:
x = []
for i in range(10):
    x += [i]
    
stdio.writeln(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
x.remove(9)
stdio.writeln(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
x[4] = "apple"
stdio.writeln(x)

[0, 1, 2, 3, 'apple', 5, 6, 7, 8]

In [10]:
len(x)

9

In [11]:
sum(x)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
x.remove('apple')

In [13]:
sum(x)

32

In [14]:
max(x)

8

In [15]:
min(x)

0

In [16]:
import stdarray

stdarray.write1D(x)

8
0 1 2 3 5 6 7 8

In [17]:
l = []
for i in range(10):
    l.append(0)
    
stdarray.write1D(l)

10
0 0 0 0 0 0 0 0 0 0

In [18]:
l = stdarray.create1D(10,0)
    
stdarray.write1D(l)

10
0 0 0 0 0 0 0 0 0 0

In [19]:
l = [0] * 10
stdarray.write1D(l)

10
0 0 0 0 0 0 0 0 0 0

In [21]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]

d = [a, b, c]

stdio.writeln(d)

stdio.writeln(d[1][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
5

In [22]:
d[1][1] = "22"

stdarray.write2D(d)

3 3
1 2 3
4 22 6
7 8 9

In [23]:
for row in d:
    for column in row:
        stdio.write(str(column) + " ")
    stdio.writeln()

1 2 3
4 22 6
7 8 9

In [24]:
e = stdarray.create2D(8,20, True)
stdio.writeln(e)

[[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True], [True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True], [True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True], [True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True], [True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True], [True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True], [True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True], [True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]]

In [25]:
print(x)

[0, 1, 2, 3, 5, 6, 7, 8]

In [28]:
stdio.write(x[7:1:-2])

[8, 6, 3]

In [29]:
SUITS = ['Clubs', 'Diamonds', 'Hearts', 'Spades']
RANKS = ['2', '3', '4', '5', '6', '7', '8', '9', '10',
         'Jack', 'Queen', 'King', 'Ace']

In [35]:
import random
rank = random.randrange(0, len(RANKS))
suit = random.randrange(0, len(SUITS))
stdio.writeln(RANKS[rank] + ' of ' + SUITS[suit])

5 of Spades

In [ ]:
deck = []
for suit in SUITS:
    for rank in RANKS:
        card = rank + ' of ' + suit
        deck += [card]